body{
  background-color: #e6ecec;
}
.App {
  text-align: center;
  margin: auto;
  align-items: center;
  justify-content: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  display: grid;
  margin: 0 auto;
  position: relative;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, minmax(25vw, 1fr));
  grid-gap: 4vw;
  padding: 4vw;
}

.card{
  background-color: #465f5f;
  position: relative;
  /* width: 25vw; */
  height: 28vw;
}

.card-image{
  background-color: antiquewhite;
  height: 100%;
  margin-bottom: 15px;
}

.overflow{
  color: aliceblue;
  z-index: 1;
  width: 100%;
  height: 15vh;
  position: absolute;
  text-align: center;
  overflow-y: scroll;
}

.info{
  padding-top: 1vh;
  color: aliceblue;
  width: 100%;
  height: 10.5vh;
  position: absolute;
  text-align: center;
  vertical-align: bottom;
}

.info a + a {
  padding-left: 3em;
} 


.modal-bg {
  position: fixed;
  margin: auto;
  z-index: 2;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  /* background-color: cadetblue; */
  backdrop-filter: blur(6px);
}

.modal {
  position: fixed;
  margin: auto;
  z-index: 1;
  text-align: center;
  top: 15%;
  left: 30%;
  margin-top: -50px;
  margin-left: -50px;
  background-color: rgb(182, 143, 143);
  opacity: 100%;
  width: 50vw;
  height: 85vh;
}

img{
  width: 100%;
  height: 80%;
}

img:hover{
  width: 100%;
  height: 80%;
  opacity: 1;
}

iframe{
  width: 99.5%;
  height: 80%;
}